<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h4>Email from: <%= @name %> </h4>
<h4>Email address: <%= @email %> </h4>
<h4>Message</h4>
<%= @message %>

</body>
</html>