<div class="container-fluid col-md-4 col-md-offset-4">

    <form name="form" role="form">
        <div class="alert alert-danger" ng-show="error">
            {{error}}
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <h3>Reset your password</h3>
            </li>
            <li class="list-group-item">
                <div class="form-group" ng-class="{ 'has-error': form.email.$invalid}">
                    <label>Email address *</label>
                    <input type="email" class="form-control" required ng-model="user.email" name="email">
                </div>
            </li>
            <li class="list-group-item list-group-item-info">
                <button ng-if="!wait" type="submit" class="right btn btn-primary " ng-disabled='form.$invalid'
                        ng-click="submit()">Submit
                </button>
                <button ng-if="wait" class="btn btn-primary" ng-disabled='true'>Please wait...</button>
            </li>
        </ul>

    </form>
</div>